*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(235, 235, 235);
    height: 100vh;
}

header{
    background-color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    vertical-align: middle;
}


main{
    background-color:rgb(235, 235, 235);
}

#add-btns-container{
    margin-top: 50px;
}

#task-container{
}

section{
    margin-bottom: 35px;
}

.logo{
    vertical-align: middle;
}

.logo-text{
    font-size: 40px;
    vertical-align: middle;
}

ul{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul li{
    margin-bottom: 10px;
}

h3{
    margin-top: 5px;
    margin-bottom: 5px;
}

p{
    margin-top: 0;
    margin-bottom: 0;
}

.container{
    max-width: 70%;
    margin: auto;
    background-color: white;
    text-align: left;
    padding-left: 25px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

button{
    height: 25px;
    width: 75px;
    text-align: center;
    text-wrap:wrap;
    font-size: 12px;
    border-radius: 5px;
}

#usable{
    background-color:#47adf1 ;
    color: white;
    border: none;
}

#unusable{
    background-color: white;
    color: gray;
    border: 1px solid grey;
}

.section-title{
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.category{
   border-radius: 5px;
   padding: 5px;
   color: white;
   font-size: xx-small;
   margin-left: 10px;
}

.editorial{
    background-color: #45abea;
}

.q1-goals{
    background-color:#9c72e4;
}

.recruiting{
    background-color: #64bfa9;
}

.mobile{
    background-color: #f39e32;
}

.website{
    background-color:#d863a1;
}

.sales{
    background-color:#91a521;
}

.check{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
    line-height: 20px;
    font-size: small;
    display: inline-block;
}

.green-check{
 border-color: #68c2ad;
 color: #68c2ad;
}

.red-check{
    border-color: red;
    color: red;
}